  * { margin: 0; padding: 0;}
  header,
  section,
  footer {
      height: 300px;
      width: 900px;
      
      position: relative;
      margin-left: auto;
      margin-right: auto;
  }
  body {background-image: url(fondodepantalla.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;}
      .logo,
      .logo2 {
          height: 200px;
          width: 200px;
      }

 
.logo {
    position: absolute;
    left: 0px;
    top: 0px;
}

.logo2 {
    position: absolute;
    right: 0px;
    top: 0px;
}
.nombre {
    height: 100px;
    width: 400px;
    position: absolute;
    left: 290px;
    color: rgb(10, 40, 78);
    text-align: center;
    position: absolute;
    top: 80px;
 font-weight: bold;
 font-size: 30px;
}


#dueños {
    height: 300px;
    width: 800px;
}

.dueños {
    position: relative;
    margin-left: 100px;
    
}

.fotos { position: relative;}

#foto1 {
    height: 200px;
    width: 200px;
}

.foto1 {position: absolute;
    margin-left: 100px;
    top: 40px;
}

#foto2 {
    height: 200px;
    width: 200px

}

.foto2 {
    position: absolute;
    left: 300px;
    top: 40px;
    
}

#foto3 {
    height: 200px;
    width: 200px
}

.foto3 {
    position: absolute;
    left: 500px;
    top: 40px;
}

#foto4 {
    height: 200px;
    width: 200px
;}

.foto4 {
    position: absolute;
    left: 700px;
    top: 40px;
    
}

#foto5 {
    height: 300px;
    width: 800px;
}

.foto5 {
    margin-left: 100px;
    margin-bottom: 40px;
    
}

#foto6 {
    height: 300px;
    width: 800px;
}

.foto6 {
    margin-left: 100px;
}

@media all and (min-width: 600px) and (max-width: 1023px) {

    header, section , footer {width: 500px;}
    .logo img, .logo2 img {width: 100px; height: 100px;
    }

    .logo {
        position: absolute;
        left: 0px;
        top: 0px;
    }
    
    .logo2 {
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .nombre {
        height: 100px;
        width: 400px;
        position: absolute;
        left: 0px;
        color: rgb(10, 40, 78);
        text-align: center;
        position: absolute;
        top: 40px;
     font-weight: bold;
     font-size: 15px;
    }



    #dueños {
        height: 300px;
        width: 400px;
    }
    
    .dueños {
        position: relative;
       margin-left: auto;
       margin-right: auto;
      
        
    }
    
    .fotos {position: relative;}
    
    #foto1 {
        height: 200px;
        width: 100px;
    }
    
    .foto1 {position: absolute;
      margin-left: auto;
        top: 0px;
    }
    
    #foto2 {
        height: 200px;
        width: 100px
    
    }
    
    .foto2 {
        position: absolute;
        left: 100px;
        top: 0px;
        
    }
    
    #foto3 {
        height: 200px;
        width: 100px
    }
    
    .foto3 {
        position: absolute;
        left: 200px;
        top: 0px;
    }
    
    #foto4 {
        height: 200px;
        width: 100px
    ;}
    
    .foto4 {
        position: absolute;
        left: 300px;
        top: 0px;
        
    }
    
    
    #foto5 {
        height: 300px;
        width: 400px;
        position: absolute;
        top: 0px;
        
  
    }
    
    .foto5 {
        margin-left: auto
        
        }
    
    #foto6 {
        height: 300px;
        width: 400px;
    }
    
    .foto6 {
        margin-left: auto;
    }
    
}
@media (max-width: 599px) {
    
    header, section , footer {width: 500px;}
  

    .logo {
        position: absolute;
        left: 0px;
        top: 0px;
    }
    .logo img, .logo2 img {width: 100px; height: 100px;
    }
    
    .logo2 {
        position: absolute;
      right: 0px;
        top: 0px;
        
    }
    .nombre {
        height: 100px;
        width: 400px;
        position: absolute;
        left: 290px;
        color: rgb(10, 40, 78);
        text-align: center;
        position: absolute;
        top: 80px;
     font-weight: bold;
     font-size: 30px;
    }
    
    
    #dueños {
        height: 300px;
        width: 800px;
    }
    
    .dueños {
        position: relative;
        margin-left: 100px;
        
    }
    
    .fotos { position: relative;}
    
    #foto1 {
        height: 200px;
        width: 200px;
    }
    
    .foto1 {position: absolute;
        margin-left: 100px;
        top: 40px;
    }
    
    #foto2 {
        height: 200px;
        width: 200px
    
    }
    
    .foto2 {
        position: absolute;
        left: 300px;
        top: 40px;
        
    }
    
    #foto3 {
        height: 200px;
        width: 200px
    }
    
    .foto3 {
        position: absolute;
        left: 500px;
        top: 40px;
    }
    
    #foto4 {
        height: 200px;
        width: 200px
    ;}
    
    .foto4 {
        position: absolute;
        left: 700px;
        top: 40px;
        
    }
    
    #foto5 {
        height: 300px;
        width: 800px;
    }
    
    .foto5 {
        margin-left: 100px;
        margin-bottom: 40px;
        
    }
    
    #foto6 {
        height: 300px;
        width: 800px;
    }
    
    .foto6 {
        margin-left: 100px;
    }
    
   
    
    
    }








